@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }


  /* -----------------fade inn animations--------------- */
  body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}



body {
    background: linear-gradient(60deg, rgb(202, 183, 6), 50%, #5aa1e9);
    font-family: 'Rubik', sans-serif;
    /* background: #f0f3f5e3; */
    height: 100 !important;
    transition: 1s ease-in;
}

/* --------------setting navbar background to white--------- */
.bg-light{
  background-color: white !important;
}
.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #262626 !important;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

footer .text-light{
  background: #262626 !important;

}

/* ------------corosal indicators to dots-------------- */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}


.card-body{
  vertical-align: middle;
}

/* ------------------card body buttons-------------- */

.card-body{
  text-align: center;
  align-items: center;
}

.card-body button{
  outline: none;
  color: rgba(0, 0, 0, 0.432);
  font-size: 100px;
  height: 50%;
  width: 50%;
  background-color: white;
  border-radius: 100%;
}
.card-body button:hover{
  scale:110%;
  border: none;
  color: skyblue;
}

/* --------------hover effect on card------------ */
.card:hover{
  scale: 98%;
  background-color: rgba(82, 84, 88, 0.651);
  color: white;
}



small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
html {
    font-size: 1rem;
  }
  
  /* --------------imgae corosal caption-------------- */

  .carousel-caption{
    padding-left: 40px;
    text-align: left;
    border-radius: 5px;
    color: black;
    
  }
 