@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
      
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }

  html{
    scroll-behavior: smooth !important; /*added by naven for scroll smoothly*/
  }


  /* -----------------fade inn animations--------------- */
  body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}



body {
    background: linear-gradient(60deg, rgb(238, 237, 230), 50%, #dae3ec98);
    font-family: 'Rubik', sans-serif;
    /* background: #f0f3f5e3; */
    height: 100 !important;
    transition: 1s ease-in;
}

/* --------------setting navbar background--------- */
.bg-dark{
  background:rgba(61, 61, 61, 0.548) !important;
  width: 100%;
}

.navbar{
  margin-top: 0;
  top:0;
  color: rgb(255, 255, 255);
  position: fixed;
}
.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #262626 !important;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

footer .text-light{
  background: #262626 !important;

}

/* ------------corosal indicators to dots-------------- */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}


.card-body{
  vertical-align: middle;
}

/* ------------------card body buttons-------------- */

.card-body{
  text-align: center;
  align-items: center;
}

.card-body button{
  outline: none;
  color: rgba(0, 0, 0, 0.432);
  font-size: 100px;
  height: 50%;
  width: 50%;
  background-color: white;
  border-radius: 100%;
}
.card-body button:hover{
  scale:110%;
  border: none;
  color: skyblue;
}

/* --------------hover effect on card------------ */
.card:hover{
  cursor: pointer;
  scale: 98%;
  background-color: rgba(82, 84, 88, 0.651);
  color: white;
}



small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
html {
    font-size: 1rem;
  }
  
  /* --------------imgae corosal caption-------------- */

  .carousel-caption{
    background-image: linear-gradient(90deg, rgba(44, 44, 44, 0.664), rgba(255, 255, 255, 0));
    padding-left: 40px;
    text-align: left;
    border-radius: 5px;
    color: wheat;
    
  }

  /* ---------news area-------- */
  .newsarea{
    border: 1px solid ;
    border-left: none;
    border-right: none;
    
  }
 




 /* -------------hero------------ */
 .jumbotron{
   color: white;
   background-image: url(../gallery_images/hero.jpg);
   background-repeat:no-repeat;
   background-size:cover;
   
 }

 .corosal-head{
   color:ivory;
   height:81px;
  overflow: visible;
  text-align: left;
  padding-left: 5%;
  background-image: linear-gradient(90deg, rgba(44, 44, 44, 0.664), rgba(255, 255, 255, 0));
}

.corosal-container{
  border: 0.5px solid;
  border-radius: 3px;
}

  #map {
    height:400px;
   
    width: 100%;
    
  } 

